h1 {
    color: brown;
    text-align: center;
}

input[type='text'] {
    width: 50%;
    height: 8%;
}
body {
    text-align: center;
    margin-top: 10%;

}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.complete {
  
    text-decoration: line-through;
}